# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
example/logs
example/*.log
example/npm-debug.log*
example/yarn-debug.log*
example/yarn-error.log*
example/pnpm-debug.log*
example/lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
example/node_modules
example/.DS_Store
example/dist
example/dist-ssr
example/coverage
example/*.local

/cypress/videos/
/cypress/screenshots/
example/cypress/videos/
example/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
example/.vscode/*
!example/.vscode/extensions.json
example/.idea
example/*.suo
example/*.ntvs*
example/*.njsproj
example/*.sln
example/*.sw?
